<a href="https://colab.research.google.com/github/Pam2020/DATA690-Statistics-Visualization/blob/main/Classwork/Lec2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA 690: Session 2

Date: 9/8/2022

Name: Sravya P

In [47]:
years = "1/11/1997 1991 1997er sravya 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"
print("Birth years of students:", years)

Birth years of students: 1/11/1997 1991 1997er sravya 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [48]:
print(years.split(" "))
years = years.split(" ")

['1/11/1997', '1991', '1997er', 'sravya', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [49]:
#years = [eval(val) for val in lst]

In [51]:
print(years)

['1/11/1997', '1991', '1997er', 'sravya', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [52]:
y = [2,-3,4,5,8,10,11]

def mean(l):
  tot = 0
  for number in l:
    tot += number
  print("Sum of elements:", tot)
  print("Number of elements:", len(l))
  print("Mean of elements:", tot/len(l))

In [53]:
mean(y)

Sum of elements: 37
Number of elements: 7
Mean of elements: 5.285714285714286

In [54]:
from datetime import date

current_year = date.today().year
print(current_year)

tot = 0 
count = 0
for birth_year in years:
  try:
    year_int = int(birth_year)
  except:
    print('Non integer value found in the years list: {}'.format(birth_year))
    count += 1
    continue
  age = current_year - year_int
  tot += age
print("Number of exceptions found:", count)
print("Average age of the class:", tot/(len(years)-count))

2022
Non integer value found in the years list: 1/11/1997
Non integer value found in the years list: 1997er
Non integer value found in the years list: sravya
Number of exceptions found: 3
Average age of the class: 26.272727272727273

In [59]:
count = 0
while True:
  if count == 3:
    break
  try:
    x = int(input("Enter an integer:"))
    count += 1
  except:
    print("Non-integer entered. Please enter an integer.")

Enter an integer:5
Enter an integer:6
Enter an integer:sravya
Non-integer entered. Please enter an integer.
Enter an integer:10