<a href="https://colab.research.google.com/github/Pam2020/DATA690-Statistics-Visualization/blob/main/ClassWork/Lec2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA 690: Session 2

Date: 9/8/2022

Name: Sravya P

In [3]:
years = "1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"
print("Birth years of students:", years)

Birth years of students: 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [10]:
print(years.split(" "))
lst = years.split(" ")

['1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [11]:
years = [eval(val) for val in lst]

In [13]:
print(years)

[1991, 2000, 1969, 1999, 1998, 1993, 1996, 1999, 1997, 1996, 1998, 1995, 1999, 1999, 1997, 1996, 1996, 1997, 1995, 1997, 1999, 2000]

In [17]:
y = [2,-3,4,5,8,10,11]

def mean(l):
  tot = 0
  for number in l:
    tot += number
  print("Sum of elements:", tot)
  print("Number of elements:", len(l))
  print("Mean of elements:", tot/len(l))

In [20]:
mean(years)

Sum of elements: 43906
Number of elements: 22
Mean of elements: 1995.7272727272727
Sum of elements: 37
Number of elements: 7
Mean of elements: 5.285714285714286

In [19]:
from datetime import date

current_year = date.today().year
print(current_year)

tot = 0 
for birth_year in years:
  age = current_year - birth_year
  tot += age
print("Average age of the class:", tot/len(years))

2022
Average age of the class: 26.272727272727273

In [28]:
x = 10
y = 20
z = 30

def dividebyten(n):
  return n/10
dividebyten(x)

1.0